{{#let (changeset this.model.account this.AccountValidations) as |changeset|}}
  <ChangesetForm
    @onSubmit={{this.save}}
    @changeset={{changeset}}
    class='grid gap-4'
    as |Form|
  >
    <Form.Select
      @label={{t 'model.account.parent'}}
      @fieldName='parent'
      @options={{this.model.accounts}}
      as |option|
    >
      {{option.name}}
    </Form.Select>
    <Form.Input @label={{t 'model.account.name'}} @fieldName='name' />
    <Form.Input
      @label={{t 'model.account.phoneNumber'}}
      @fieldName='phoneNumber'
    />
    <Form.Input @label={{t 'model.account.email'}} @fieldName='email' />
    <Form.Input
      @label={{t 'model.account.accountNumber'}}
      @fieldName='accountNumber'
    />
    <Button @type='submit' @intent='primary' disabled={{changeset.isInvalid}}>
      {{t 'save'}}
    </Button>
  </ChangesetForm>
{{/let}}